<table border='1'>
  <tr>
    <th>Isbn10</th>
    <th>Isbn13</th>
    <th>Title</th>
    <th>Author</th>
    <th>New price</th>
    <th>New in stock</th>
    <th>Used price</th>
    <th>Used in stock</th>
    <th>Rent price</th>
    <th>Rent in stock</th>
    <th>Updated</th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td><%= book.isbn10 %></td>
    <td><%= book.isbn13 %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.new_price %></td>
    <td><%= book.new_in_stock %></td>
    <td><%= book.used_price %></td>
    <td><%= book.used_in_stock %></td>
    <td><%= book.rent_price %></td>
    <td><%= book.rent_in_stock %></td>
    <td><%= book.created_at %></td>
  </tr>
  <% end %>
</table>
